In [1]:
import pandas as pd
df=pd.read_csv('salaries.csv')

In [2]:
df

       company                  job     degree  salary_more_then_100k
0       google      sales executive  bachelors                      0
1       google      sales executive    masters                      0
2       google     business manager  bachelors                      1
3       google     business manager    masters                      1
4       google  computer programmer  bachelors                      0
5       google  computer programmer    masters                      1
6   abc pharma      sales executive    masters                      0
7   abc pharma  computer programmer  bachelors                      0
8   abc pharma     business manager  bachelors                      0
9   abc pharma     business manager    masters                      1
10    facebook      sales executive  bachelors                      1
11    facebook      sales executive    masters                      1
12    facebook     business manager  bachelors                      1
13    facebook     business manager    masters                      1
14    facebook  computer programmer  bachelors                      1
15    facebook  computer programmer    masters                      1

# DecisionTreeClassifier

In [3]:
from sklearn.tree import DecisionTreeClassifier

In [7]:
x=df.drop(columns='salary_more_then_100k')
y=df['salary_more_then_100k']

In [9]:
df1=pd.get_dummies(x,dtype=int)
df1

,company_abc pharma,company_facebook,company_google,job_business manager,job_computer programmer,job_sales executive,degree_bachelors,degree_masters
0,0,0,1,0,0,1,1,0
1,0,0,1,0,0,1,0,1
2,0,0,1,1,0,0,1,0
3,0,0,1,1,0,0,0,1
4,0,0,1,0,1,0,1,0
5,0,0,1,0,1,0,0,1
6,1,0,0,0,0,1,0,1
7,1,0,0,0,1,0,1,0
8,1,0,0,1,0,0,1,0
9,1,0,0,1,0,0,0,1
10,0,1,0,0,0,1,1,0
11,0,1,0,0,0,1,0,1
12,0,1,0,1,0,0,1,0
13,0,1,0,1,0,0,0,1
14,0,1,0,0,1,0,1,0
15,0,1,0,0,1,0,0,1

In [10]:
x=df1
y=df['salary_more_then_100k']

In [11]:
model=DecisionTreeClassifier()
model.fit(x,y)

DecisionTreeClassifier()

In [15]:
model.predict([[0,0,1,0,0,1,0,1]])[0]

0

In [16]:
model.score(x,y)

1.0

# LinearRegression

In [17]:
from sklearn.linear_model import LinearRegression

In [19]:
model1=LinearRegression()
model1.fit(x,y)

LinearRegression()

In [23]:
model1.predict([[0,0,1,0,0,1,0,1]])[0]

0.37890625

In [20]:
model1.score(x,y)

0.673016357421875

# LogisticRegression

In [21]:
from sklearn.linear_model import LogisticRegression

In [22]:
model2=LogisticRegression()
model2.fit(x,y)

LogisticRegression()

In [24]:
model2.predict([[0,0,1,0,0,1,0,1]])[0]

1

In [25]:
model2.score(x,y)

0.9375